body {
    margin: 0;
}

nav.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav.header li {
    float: left;
    border-right: 2px solid #bbb;
}

nav.header li.active {
    background-color: coral;
}

nav.header a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
}

nav.header li a:hover {
    background-color: #cd5b45;
}

nav.header li#admin {
    float: right;
    border-right: 0;
    border-left: 2px solid #bbb;
}


/* ^ HEADER NAVBAR ^ */


/* PAGE ACCUEIL */

h1.title {
    color: coral;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
}

.description {
    /*changer le nom */
    text-align: center;
    font-size: large;
}

ul.carousel {
    text-align: center;
    padding: 0;
}

ul.carousel li {
    display: inline;
    margin-right: 200px;
    margin-left: 200px;
}

.carousel img {
    width: auto;
    height: 200px;
}


/* PAGE CONNEXION */

form.connexion {
    margin-top: 10%;
    text-align: center;
}

form.connexion div {
    margin-bottom: 1%;
}


/* PAGE RECHERCHE */

ul.filtres {
    list-style: none;
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 0;
    /* margin-right: 5%; */
}

ul.sousFiltres {
    list-style: none;
}

input.inputBar {
    width: 50px;
}


/* table.resultats{
    border: 1px solid;
} */

img.jeu {
    width: auto;
    height: 200px;
}


/*PAGE ADMIN*/

div.twoCol {
    column-count: 2;
}